import { PageContainer } from '@/components/common/PageContainer';

const {{pascalCase name}} = () => {
  return (
    <PageContainer>
      <div>
        <h1>{{pascalCase name}} page</h1>
      </div>
    </PageContainer>
  );
};

export default {{pascalCase name}};
